<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/base64url.js}"></script>
</head>
<body>
<h1>회원가입</h1>

<form th:action="@{/signup}" th:object="${userForm}" method="post">
    <label for="username">아이디:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required>
    <br>

    <!-- WebAuthn 관련 숨겨진 필드 -->
    <input type="hidden" id="userHandle" name="userHandle">
    <input type="hidden" id="clientDataJSON" name="authenticator.clientDataJSON">
    <input type="hidden" id="attestationObject" name="authenticator.attestationObject">
    <input type="hidden" id="clientExtensions" name="authenticator.clientExtensions">

    <button type="button" id="authenticator">패스키 등록</button>
    <button type="submit" id="submit" disabled>가입하기</button>
</form>

<a href="/login">로그인</a>

<script>
    function createCredential(){

        let username = $("#username").val();
        let userHandle = $("#userHandle").val();

        return $.get('/webauthn/attestation/options', null, null, "json").then( options =>{
            let publicKeyCredentialCreationOptions = {
                rp: {
                    id: options.rp.id,
                    name: options.rp.name
                },
                user: {
                    id: base64url.decodeBase64url(userHandle),
                    name: username,
                    displayName: username
                },
                challenge: base64url.decodeBase64url(options.challenge),
                pubKeyCredParams: options.pubKeyCredParams,
                timeout: options.timeout,
                excludeCredentials: options.excludeCredentials.map(credential => {
                    return {
                        type: credential.type,
                        id: base64url.decodeBase64url(credential.id)
                    }
                }),
                authenticatorSelection: {
                    requireResidentKey: true,
                    residentKey: "preferred"
                },
                attestation: options.attestation,
                extensions: options.extensions
            };

            let credentialCreationOptions = {
                publicKey: publicKeyCredentialCreationOptions
            };

            return navigator.credentials.create(credentialCreationOptions);
        });
    }

    $('#authenticator').click(function(){
        createCredential().then(function (credential) {
            console.log(credential);
            $('#clientDataJSON').val(base64url.encodeBase64url(credential.response.clientDataJSON));
            $('#attestationObject').val(base64url.encodeBase64url(credential.response.attestationObject));
            $('#clientExtensions').val(JSON.stringify(credential.getClientExtensionResults()));
            $('#authenticator').text('Authenticator registered');
            $('#authenticator').prop('disabled', true);
            $('#submit').prop('disabled', false);
        }).catch(function (e) {
            console.error("Error:%s, Message:%s", e.name, e.message);
        });
    });

</script>

</body>
</html>
